<section class="output-layout">

<aside class="options-zone">
  <h2>Options</h2>

  <label for="header-display-mode">header</label>
  <select
    id="header-display-mode"
    [value]="headerDisplayMode()"
    (change)="onHeaderDisplayModeChange($any($event.target).value)"
  >
    <option value="logo">logo</option>
    <option value="name">name</option>
    <option value="both">logo and name</option>
  </select>

  @for (key of teamOrder; track key) {
    <label [for]="'team-label-' + key">
      {{ key }}
    </label>
    <input
      [id]="'team-label-' + key"
      [value]="teamLabels()[key]"
      (input)="onTeamLabelInput(key, $any($event.target).value)"
      type="text"
    />
  }

    <button type="button" (click)="downloadJson()">
    Download JSON
  </button>
</aside>




<section class="sheet" 
           (dragover)="allowDrop($event)"
           (drop)="onDropToVisible($event)">
  <header class="sheet-header">
    <div class="sheet-title-block">
  @if (meta()) {
    @if (showLogo() && meta()!.logo) {
      <img [src]="meta()!.logo" [alt]="meta()!.name" />
    }

    @if (showName()) {
      <h1 class="sheet-title-text">{{ meta()!.name }}</h1>
    }
  }
</div>
  </header>

  @for (section of groupedRoles(); track section.key) {
    @if (section.roles.length > 0) {
      <section class="team-block" [class]="section.className">
        <header class="team-block__header">
          <h2>{{ section.label }}</h2>
        </header>

        <div class="role-list">
          @for (role of section.roles; track role.id) {
          @if (role.hide) {
            
          } @else {
            <article class="role-card" [class]="section.className"  draggable="true" (dragstart)="onDragStart($event, role.id)">
              <div class="role-card__image">
                <img
                  [src]="role.image"
                  [alt]="role.name"
                  loading="lazy"
                />
              </div>

              <div class="role-card__content">
                <h3 class="role-card__name">{{ role.name }}</h3>
                <p class="role-card__ability">{{ role.ability }}</p>
              </div>
            </article>
            }
          }
        </div>
      </section>
    }
  }
   <p class="sheet-footer">* Nicht in der ersten Nacht</p>
</section>

<aside class="hidden-zone"
         (dragover)="allowDrop($event)"
         (drop)="onDropToHidden($event)">
    <h2>Ausgeblendet</h2>

    @if(hiddenRoles().length === 0) {
      <p>Drag and drop roles here to hide them</p>
    }


    @for (role of hiddenRoles(); track role.id) {
      <article class="hidden-role"
               draggable="true"
               (dragstart)="onDragStart($event, role.id)">
        <div class="hidden-role-card__image">
                <img
                  [src]="role.image"
                  [alt]="role.name"
                  loading="lazy"
                />
              </div>

              <div class="hidden-role-card__content">
                <h3 class="hidden-role-card__name">{{ role.name }}</h3>
                <p class="hidden-role-card__ability">{{ role.ability }}</p>
              </div>
      </article>
    }
  </aside>

  </section>